<main class="main">
    <section class="main__intro">
        <p class="main__intro-subtitle">Los sentimientos nos inspiran</p>
        <h2 class="main__intro-title">Conecta Contigo</h2>
        <p class="main__intro-text">Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.</p>
        <div class="main__intro-button"><a class="main__intro-button-text "href="#">Comprar</a></div>
    </section>
</main>