// fonts
$font-main: 'Roboto', sans-serif;
$font-title: 'Roboto Slab', serif;

//font sizes
$h1-size: 1.8rem;
$h2-size: 1.4rem;
$h3-size: 1.3rem;
$regular-size: 1.2rem;
$small-size: 0.8rem;


// color palette
$orange: #f26002;
$dark-grey: #4a4a4a;
$light-grey: #979797;
$white: #ffffff;
