.footer {
  background-color: $dark-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;

  &__menu {
    &-item {
      line-height: 2rem;
      font-family: $font-main;
    }

    &-link {
      color: $white;
      text-decoration: none;
    }
  }

  &__menu-products,
  &__menu-sm {
    padding-bottom: 2rem;
  }

  &__info {
    color: $white;
    font-family: $font-main;
    font-size: $small-size;

    &-text {
      padding-top: 1rem;

      .heart-span {
        color: $orange;
      }
    }
  }
}
