.main__hero {
  height: 100vh;

  &-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: url("../images/cover.jpeg");
    background-size: cover;
    background-position: -350px;
    height: 100%;
    padding: 4rem 2rem;

    @media all and (min-width: 768px) {
        background-position: -60px;
        padding: 5rem;
    }
  }

  &-title {
    font-size: 3rem;
    font-family: $font-title;
    color: $white;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 5rem;

    @media all and (min-width: 768px) {
        font-size: 7.5rem;
        line-height: 10rem;
    }
  }

  &-subtitle {
    font-size: 2rem;
    font-family: $font-main;
    color: $white;
    text-align: center;
    line-height: 2.4rem;

     @media all and (min-width: 768px) {
        font-size: 2.4rem;
        line-height: 4rem;
    }
  }

  &-scroll-down {
    background-color: $white;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    @media all and (min-width: 768px) {
        width: 4.5rem;
        height: 4.5rem;
    }
  }

   &-button-scroll-down-icon {
        width: 1.9rem;
        height: 1rem;

        @media all and (min-width: 768px) {
        width: 2.2rem;
        height: 1.4rem;
    }
    }
}
