.main__features{
    background-color: $dark-white;
    padding: 2rem 3.4rem;

    &-title{
        text-align: center;
        font-size: $h3-size;
        font-family: $font-title;
    }

    &-grid{
        display: grid;
        grid-template-rows: repeat(3,1fr);
        grid-gap: 2.7rem;
        margin: 3rem 0;
        text-align: center;
        font-size: $regular-size;
        line-height: 2rem;
    }

    &-subtitle {
       font-family: $font-title;
    }

    &-text {
        font-family: $font-main;
    }

    &-button{
        background-color: $orange;
        height: 2.8rem;
        width: 13rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10rem;
        margin: 0 auto;

            &-text{
            text-decoration: none;
            font-size: $regular-size;
            font-family: $font-main;
            color: $white;
            }
    }

    &-scroll-up{
        background-color: $white;
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        transform: translateY(3.3rem);
        box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.2);
    }
}