.main__intro {
  padding: 4rem 2rem;

  @media all and (min-width: 768px) {
    padding: 4rem 4rem;
  }

  @media all and (min-width: 1280px) {
    font-size: 1.6rem;
    padding: 7rem 20rem;
  }

  &-subtitle {
    font-size: 1.4rem;
    font-family: $font-main;
    color: $orange;
    padding-bottom: 1rem;

    @media all and (min-width: 768px) {
      font-size: 1.6rem;
      padding-bottom: 2rem;
    }
  }

  &-title {
    font-size: 2.4rem;
    font-family: $font-title;
    padding-bottom: 1rem;

    @media all and (min-width: 768px) {
      font-size: 3.2rem;
      padding-bottom: 2rem;
    }
  }

  &-text {
    font-size: 1.8rem;
    font-family: $font-main;
    color: $dark-grey;
    line-height: 3rem;
    padding-bottom: 2rem;

    @media all and (min-width: 768px) {
      font-size: 2rem;
      padding-bottom: 2rem;
    }
  }

  &-button {
    height: 4.5rem;
    width: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px $orange;
    border-radius: 10rem;
    text-decoration: none;
    font-style: none;
    font-size: 1.8rem;
    font-family: $font-main;
    font-weight: bold;
    color: $orange;
    transition: all 0.3s;

    &:hover {
      background-color: $orange;
      color: $white;
      box-shadow: 0 2px 5px 0 $light-grey;
      scale: 110%;
    }

    @media all and (min-width: 768px) {
      margin-bottom: 2rem;
      font-size: 2rem;
    }

    &-text {
      @media all and (min-width: 768px) {
      }
    }
  }
}
