.main__intro {
    padding: 3rem 1rem;

    &-subtitle{
        font-size: $small-size;
        font-family: $font-main;
        color: $orange;
        padding-bottom: 0.8rem;
    }

    &-title{
        font-size: $h2-size;
        font-family: $font-title;
        padding-bottom: 0.8rem;
    }

    &-text{
        font-size: $regular-size;
        font-family: $font-main;
        color: $dark-grey;
        line-height: 1.8rem;
        padding-bottom: 1.2rem;
    }

    &-button{
        height: 3rem;
        width: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 2px $orange;
        border-radius: 10rem;

            &-text{
            text-decoration: none;
            font-size: $regular-size;
            font-family: $font-main;
            font-weight: bold;
            color: $orange;
            }
    }

    
}